################
#  General
################
*.log
*.tar
*.gz
*.rar

################
#  Java
################
*.class
*.jar
*.war
*.ear

################
#  Eclipse
################
bin

# Spring Tool Suite
.springBeans

################
#  Gradle
################
.gradle
build
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

################
#  Project
################
!**/src/**/bin
